<div class="p0 m0 clr-row ">
    <div class="clr-col-2"></div>
    <div class="clr-col-8 ">
        <h3 class="titulo">Registrarse</h3>
        
        <div class="clr-row">
            <div class="clr-col-4"></div>
            <div class="clr-col-8">
                <form class="clrForm">
                    <div class="mt5 mb4">
                        <span>Complete los campos</span>
                        <clr-input-container>
                            <label>Nickname</label>
                            <input clrInput  type="text" id="nickname" required >
                            <clr-control-error>Nickname es requerido</clr-control-error>
                        </clr-input-container>
                        
                        <clr-input-container>
                            <label>Password</label>
                            <input  clrInput  type="password" id="password"  required>
                            <clr-control-error>Password es requerido</clr-control-error>
                        </clr-input-container>
                    </div>
        
                    <button class="btn btn-primary" type="submit">Registrarme</button>
                </form>
            </div>
        </div>

    </div>
    <div class="clr-col-8"></div>
</div>