<div class="p0 m0 clr-row">
    <div class="clr-col"></div>

    <div class="clr-col-12 clr-col-md-10 ">
        
        <h3 class="titulo">Administracion</h3>

        <div class="clr-row mt4">
            <div class="clr-col"></div>
            
            <div class="Cuerpo clr-col-12 clr-col-md-6">
                <div class="misLinks Contenido">
                    <p *ngFor="let item of opcionesMenu">
                        <a [routerLink]="[item.ruta]" class=" nav-text">{{item.opcion}}</a>
                    </p>
                </div>
            </div>

            <div class="clr-col"></div>
        </div>
    </div>
    <div class="clr-col"></div>
</div>

