<div class="p0 m0 clr-row">
    <div class="clr-col"></div>

    <div class="clr-col-12 clr-col-md-10 ">
        
        <h3 class="titulo">Administracion</h3>

        <div class="clr-row mt4">

            <!-- Inicio de las noticias-->
            <div class="Cuerpo clr-col-12 clr-col-md-6">
                <div class="misLinks Contenido">
                    <p><a [routerLink]="['/mediosDePago']" class=" nav-text">Medios de Pago</a></p>
                    <p><a [routerLink]="['/convenios']" class=" nav-text">Convenios</a></p>
                    <p><a [routerLink]="['/categorias']" class=" nav-text">Categorias</a></p>
                    <p><a [routerLink]="['/actividadesa']" class=" nav-text">Actividadesa</a></p>
                </div>
            </div>

            <div class="Cuerpo clr-col-12 clr-col-md-6">
                <div class="misLinks Contenido">
                    <p><a [routerLink]="['/account']" class=" nav-text">Administrar Roles</a></p>
                    <p><a [routerLink]="['/prestadoresDeSalud']" class=" nav-text">Prestadores de Salud</a></p>
                    <p><a [routerLink]="['/precios']" class=" nav-text">Precios</a></p>
                    <p><a [routerLink]="['/personas']" class=" nav-text">Personas</a></p>
                </div>
            </div>

            <!-- Fin de las noticias-->
            
            
        </div>
    
    </div>
    
    <div class="clr-col"></div>
</div>

