<header class="header-6">
    <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
            <clr-icon shape="home"></clr-icon>
            <span class="title">SportClub </span>
        </a>
    </div>

    <div class="header-actions">
        <a [routerLink]="['/nuestrasActividades']" class="nav-link nav-text">
            Nuestras Actividades
        </a>
        <a [routerLink]="['/contactos']" class="nav-link nav-text">
            Contactos
        </a>
        <a [routerLink]="['/quienesSomos']" class="nav-link nav-text">
            Quienes somos
        </a>
        <a [routerLink]="['/registrarse']" class="nav-link nav-text">
            Registrarse
        </a>
        <a [routerLink]="['/logIn']" class="nav-link nav-text">
            Log in
        </a>
    </div>
</header>