<div class="header-nav" [clr-nav-level]="1">

    <a [routerLink]="['/']" class="nav-link nav-text">
        SportClub
     </a>
    <a [routerLink]="['/administracion']" class="nav-link nav-text">
       Administracion
    </a>
    <a [routerLink]="['/nuestrasActividades']" class="nav-link nav-text">
        Nuestras Actividades
    </a>
    <a [routerLink]="['/contactos']" class="nav-link nav-text">
        Contactos
    </a>
    <a [routerLink]="['/quienesSomos']" class="nav-link nav-text">
        Quienes somos
    </a>
    <a [routerLink]="['/registrarse']" class="nav-link nav-text">
        Registrarse
    </a>
    <a [routerLink]="['/logIn']" class="nav-link nav-text">
        Log in
    </a>
</div>






    
