<div class="p0 m0 clr-row ">
    <div class="clr-col"></div>
  
    <div class="clr-col-12 clr-col-md-10">
  
      <h3 class="titulo">Personas</h3>
  
      <div class="clr-row mt4">
        <div class="clr-col"></div>
  
        <div class="respTable  clr-col-12">
  
          <table class="table">
            <thead>
              <tr>
                <th>ID_Persona</th>
                <th>PrimerNombre</th>
                <th>SegundoNombre</th>
                <th>PrimerApellido</th>
                <th>SegundoApellido</th>
                <th>FechaNacimiento</th>
                <th>Documento</th>
                <th>TipoDocumento</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>FechaVenceCarneSalud</th>
                <th>PrestadorDeSalud</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!--Datos de la tabla-->
              <tr>
                <td>1</td>
                <td>Carlos</td>
                <td>Juan</td>
                <td>Alvarez</td>
                <td>Balbiani</td>
                <td>1995-05-21</td>
                <td>CI</td>
                <td>544898746</td>
                <td>sanjo 234</td>
                <td>45/85</td>
                <td>AMSJ</td>
                <td>
                  <div class="m1 btn-group btn-primary">
                    <button class="btn btn-danger">Borrar</button>
                    <button class="btn btn-primary">Editar</button>
                  </div>
                </td>
              </tr>

              <tr>
                <td>1</td>
                <td>Carlos</td>
                <td>Juan</td>
                <td>Alvarez</td>
                <td>Balbiani</td>
                <td>1995-05-21</td>
                <td>CI</td>
                <td>544898746</td>
                <td>sanjo 234</td>
                <td>45/85</td>
                <td>AMSJ</td>
                <td>
                  <div class="m1 btn-group btn-primary">
                    <button class="btn btn-danger">Borrar</button>
                    <button class="btn btn-primary">Editar</button>
                  </div>
                </td>
              </tr>
  
             <!--Fin de Datos de la tabla-->
            </tbody>
          </table>
        </div>
        <div class="clr-col"></div>
      </div>
      <div class="agregar clr-row">
        <div class="clr-col-12"><button class="btn btn-success">Agregar</button></div>
      </div>
    </div>
    <div class="clr-col"></div>
  </div>