.agregar{
    float: right;
    margin: auto;
}
td{
    padding: 0px; 
    vertical-align: middle;
}
th{ 
    padding-right: 8px; 
    padding-left: 8px;
    vertical-align: middle;
}

.respTable{
    overflow-x: auto;
}

