<div class="p0 m0 clr-row ">
  <div class="clr-col"></div>

  <div class="clr-col-12 clr-col-md-10">

    <h3 class="titulo">Actividades</h3>

    <div class="clr-row mt4">
      <div class="clr-col"></div>

      <div class="cont_Form clr-col-12 ">

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <!--Datos de la tabla-->
            <tr>
              <td>1</td>
              <td>Golf</td>
              <td>Activo</td>
              <td>
                <div class="m1 btn-group btn-primary">
                  <button class="btn btn-danger">Borrar</button>
                  <button class="btn btn-primary">Editar</button>
                </div>
              </td>
            </tr>

            <tr>
              <td>1</td>
              <td>Golf</td>
              <td>Activo</td>
              <td>
                <div class="m1 btn-group btn-primary">
                  <button class="btn btn-danger">Borrar</button>
                  <button class="btn btn-primary">Editar</button>
                </div>
              </td>
            </tr>
           <!--Fin de Datos de la tabla-->
          </tbody>
        </table>
      </div>
      <div class="clr-col"></div>
    </div>
    <div class="agregar clr-row">
      <div class="clr-col-12"><button class="btn btn-success">Agregar</button></div>
    </div>
  </div>
  <div class="clr-col"></div>
</div>