<div class="p0 m0 clr-row ">
    <div class="clr-col"></div>

    <div class="clr-col-12 clr-col-md-10">

        <h3 class="titulo">Log in</h3>
         
        <div class="clr-row mt4">
            <div class="clr-col"></div>

            <div class="cont_Form clr-col-10 clr-col-sm-6 clr-col-md-5 clr-col-lg-4">

                <form [formGroup]="loginForm" clrForm class="miForm">

                    <clr-input-container>
                        <label >Email</label>
                        <input clrInput type="email" formControlName="email"  name="email" id="email" required />
                        <clr-control-error>We need your first name for legal compliance</clr-control-error>
                    </clr-input-container>

                    <clr-input-container>
                        <label>Password</label>
                        <input clrInput type="password" formControlName="password"  name="password" id="password" required />
                        <clr-control-error>We need your first name for legal compliance</clr-control-error>
                    </clr-input-container>

                    <button class="my2 btn btn-primary" type="submit" [disabled]="!loginForm.valid" (click)="login()">Log in</button>

                </form>

            </div>
            <div class="clr-col"></div>
        </div>

    </div>
    <div class="clr-col"></div>

</div>