<div class="p0 m0 clr-row">
    <div class="clr-col"></div>

    <div class="clr-col-12 clr-col-md-10">
        
        <h3 class="titulo">Contactos</h3>

        <div class="clr-row mt4">
            <!-- Inicio de las noticias-->
            <div class="Cuerpo clr-col-12 clr-col-md-6">
                <div class="Contenido">
                    <h3>Telefono: 098 337 856</h3>
                    <hr>
                    <h3>Email: SportClub.uy@gmail.com</h3>
                    <hr>
                    <h3>Direccion: San José de Mayo</h3>
                </div>
            </div>

            <div class="Cuerpo clr-col-12 clr-col-md-6 ">
                <img class="imagene" src="https://live.staticflickr.com/5760/23506985711_352d1c5ec3_b.jpg" alt="">
            </div>

            <!-- Fin de las noticias-->
            
        </div>
    
    </div>
    
    <div class="clr-col"></div>
</div>

