<div class="p0 m0 clr-row">
    <div class="clr-col"></div>

    <div class="clr-col-12 clr-col-md-10 ">
        
        <h3 class="titulo">Noticias</h3>

        <div class="clr-row mt4">

            <!-- Inicio de las noticias-->

            <div class="Cuerpo clr-col-12 clr-col-md-6 clr-col-lg-4">
                <div class="gTitulo">
                    <p>Lorem ipsum dolor sit </p>
                </div>
                <div class="Contenido">
                    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis blanditiis praesentium soluta. Iste obcaecati eaque harum deserunt quae illo, molestias consequatur eos ipsum sunt distinctio praesentium. Fugit similique ullam quisquam!</p>
                </div>
            </div>


            <div class="Cuerpo clr-col-12 clr-col-md-6 clr-col-lg-4">
                <div class="gTitulo">
                    <p>Lorem ipsum dolor sit </p>
                </div>
                <div class="Contenido">
                    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis blanditiis praesentium soluta. Iste obcaecati eaque harum deserunt quae illo, molestias consequatur eos ipsum sunt distinctio praesentium. Fugit similique ullam quisquam!</p>
                </div>
            </div>


            <div class="Cuerpo clr-col-12 clr-col-md-6 clr-col-lg-4">
                <div class="gTitulo">
                    <p>Lorem ipsum dolor sit </p>
                </div>
                <div class="Contenido">
                    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis blanditiis praesentium soluta. Iste obcaecati eaque harum deserunt quae illo, molestias consequatur eos ipsum sunt distinctio praesentium. Fugit similique ullam quisquam!</p>
                </div>
            </div>

            <div class="Cuerpo clr-col-12 clr-col-md-6 clr-col-lg-4">
                <div class="gTitulo">
                    <p>Lorem ipsum dolor sit </p>
                </div>
                <div class="Contenido">
                    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis blanditiis praesentium soluta. Iste obcaecati eaque harum deserunt quae illo, molestias consequatur eos ipsum sunt distinctio praesentium. Fugit similique ullam quisquam!</p>
                </div>
            </div>
            <!-- Fin de las noticias-->
            
            
        </div>
    
    </div>
    
    <div class="clr-col"></div>
</div>
