<div class="p0 m0 clr-row">
    <div class="clr-col-2"></div>

    <div class="clr-col-8">
        
        <h3 class="titulo">Noticias</h3>

        <div class="clr-row mt4">
            <div class="clr-col-2"></div>
            <div class="clr-col-8">
                <!-- Inicio de las noticias-->
                <div class="noticiaCuerpo">
                    <div class="noticiaTitulo">
                        <p>Lorem ipsum dolor sit </p>
                    </div>
                    <div class="noticiaContenido">
                        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eos nobis dicta veritatis dolorum obcaecati ipsa tenetur eaque porro, cupiditate tempore recusandae neque praesentium fuga repellendus beatae. Similique, eum nam.</p>
                    </div>
                </div>
                <!-- Fin de las noticias-->
            </div>
            <div class="clr-col-2"></div>

        </div>
    
    </div>
    
    <div class="clr-col-2"></div>
</div>
