<div class="p0 m0 clr-row">
    <div class="clr-col"></div>

    <div class="clr-col-12 clr-col-md-10">
        
        <h3 class="titulo">Quienes somos</h3>

        <div class="clr-row mt4">
            <!-- Inicio de las noticias-->
            <div class="clr-col-12 clr-col-md-6">
                <div class="Cuerpo" >
                    <div class="gTitulo">
                        <p>SportClub</p>
                    </div>
                    <div class="Contenido">
                        <h3>Somos una empresa uruguaya</h3>
                        <h3>dedicada al enriquesimiento personal</h3>
                        <h3>fisico y mental.</h3>
                    </div>
                </div>

                <div class="Cuerpo" >
                    <div class="gTitulo">
                        <p>Nuestra historia</p>
                    </div>
                    <div class="Contenido">
                        <h3>Nuestra historia</h3>
                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quod nostrum iste officiis tempora suscipit doloribus blanditiis consectetur voluptatem praesentium.</h3>
                    </div>
                </div>

                <div class="Cuerpo" >
                    <div class="gTitulo">
                        <p>NUESTROS VALORES</p>
                    </div>
                    <div class="Contenido">
                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quod nostrum iste officiis tempora suscipit doloribus blanditiis consectetur voluptatem praesentium.</h3>
                    </div>
                </div>
                
                <div class="Cuerpo">
                    <div class="gTitulo">
                        <p>Directores del proyecto</p>
                    </div>
                    <div class="Contenido">
                        <h3>Lorem ipsum y Ipsum lorem.</h3>
                        <br>
                        <h4>No estamos asociados con herbalife.</h4>
                    </div>
                </div>
            </div>

            <div class="Cuerpo clr-col-12 clr-col-md-6 ">
                <img class="imagene" src="https://live.staticflickr.com/5760/23506985711_352d1c5ec3_b.jpg" alt="">
                <br>
                <br>
                <div class="Cuerpo">
                    <div class="gTitulo">
                        <p>Mision</p>
                    </div>
                    <div class="Contenido">
                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quod nostrum iste officiis tempora suscipit doloribus blanditiis consectetur voluptatem praesentium.</h3>
                    </div>
                </div>

                <div class="Cuerpo">
                    <div class="gTitulo">
                        <p>Vicion</p>
                    </div>
                    <div class="Contenido">
                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quod nostrum iste officiis tempora suscipit doloribus blanditiis consectetur voluptatem praesentium.</h3>
                    </div>
                </div>
            </div>

            <!-- Fin de las noticias-->
            
        </div>
    
    </div>
    
    <div class="clr-col"></div>
</div>

